/* @import 'fonts.css'; */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    background-color: #232323;
    height: 1024px;
}
.header_container{
    /* width: 1585px; */
    height: 674px;
    display: flex;
    margin-bottom: 50px;
}
.ul_nav{
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 460px;
    margin: 0 auto 100px;
    padding-top: 50px;
}
.li_nav a{
    /* font-family: 'Montserrat Regular'; */
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: normal;
    text-decoration: none;
}
.header_h2{
    /* font-family: 'Montserrat Regular'; */
    font-size: 48px;
    color: white;
    text-transform: initial;
    line-height: 1.4;
    font-weight: normal;
    max-width: 744px;
    margin-top: 50px;
}

.cols2{
    display: none;
}
.right{
    max-width: 555px;
}
.kurstwo{
    display: none;
}

.header_p{
    font-size: 24px;
    color: white;
    text-transform: initial;
    line-height: 1.4;
    font-weight: normal;
    max-width: 430px;
    margin-top: 20px;
}

.link_header{
    display: inline-block;
    font-size: 24px;
    color: white;
    text-transform: initial;
    line-height: 1.4;
    font-weight: normal;
    max-width: 260px;
    padding: 14px 37px 17px;
    text-decoration: none;
    background-color: #EE3344;
    border-radius: 15px;
    margin-top: 30px;
}
.link_header:hover{
    color: rgb(66, 65, 65);
}
.cols{
    max-width: 490px;
    display: flex;
}
.kurs img{
    width: 100%;
}

.sponsor{
    background-color: #3C3C3C;
    height: 730px;
}
.sponsor_container{
    display: flex;
    padding: 80px 0;
}
.img_sponsor img{
    width: 580px;
    height: auto;
}
.img_sponsor{
    margin-top: 70px;
    margin-right: 20px;
}
.h3_sponsor{
    font-size: 48px;
    color: white;
    text-transform: initial;
    line-height: 1.4;
    font-weight: bold;
    margin-top: 40px;
}
.p_sponsor{
    font-size: 36px;
    color: white;
    text-transform: initial;
    line-height: 1.4;
    font-weight: normal;
    width: 614px;
    margin-top: 30px;
}
.link_sponsor{
    font-size: 24px;
    color: white;
    text-transform: initial;
    line-height: 1.4;
    font-weight: normal;
    width: 260px;
    padding: 14px 30px 17px;
    background-color: #EE3344;
    text-decoration: none;
    border-radius: 15px;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}
.link_sponsor:hover{
    color: rgb(66, 65, 65);
}
.otzivi{
    background-color: #232323;
}
.otzivi h2{
    font-size: 58px;
    color: white;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: normal;
    text-align: center;
    padding-top: 15px;
}
.otzivi p{
    font-size: 48px;
    color: white;
    text-transform: inherit;
    line-height: 1.4;
    font-weight: normal;
    /* text-align: center; */
    padding-top: 30px;
    width: 950px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 35px;
}
.video{
    text-align: center;
    width: 100%;
    padding-bottom: 35px;
}

.komol{
    height: 790px;
    background-color: #3C3C3C;
    padding: 140px 0 ;
}
.komol_container{
    display: flex;
    background-color: #555555;
    border-radius: 25px;
    
}
.komol_right img{
    width: 100%;
    height: auto;
}
.h3_komol{
    font-size: 36px;
    color: white;
    text-transform: inherit;
    line-height: 1.4;
    font-weight: normal;
    margin-top: 100px;
}
.p_komol{
    font-size: 24px;
    color: white;
    text-transform: inherit;
    line-height: 1.4;
    font-weight: normal;
    margin-top: 25px;
    width: 503px;
}
.komol_left{
    padding-left: 30px;
}
.a_komol{
    font-size: 24px;
    color: white;
    text-transform: initial;
    line-height: 1.4;
    font-weight: normal;
    width: 250px;
    padding: 15px 37px 16px;
    background-color: #EE3344;
    text-decoration: none;
    border-radius: 15px;
    display: inline-block;
    margin-top: 40px;
    text-align: center;
}
.a_komol:hover{
    color: rgb(66, 65, 65);
}
.container_p p{
    font-size: 24px;
    color: white;
    text-transform: inherit;
    line-height: 1.4;
    font-weight: normal;
    margin-top: 10px;
    text-align: right; 
    /* width: 503px;
    display: flex;
    justify-content: right; */
}

.hero{
    background-color: #232323;
}
.hero_h3{
    font-size: 35px;
    color: white;
    text-transform: inherit;
    line-height: 1.4;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}
.hero_cobtainer{
    padding-top: 20px;
    padding-bottom: 30px;
}
.map{
    text-align: center;
    width: 100%;
}
.footer_container p{
    font-size: 35px;
    color: white;
    text-transform: inherit;
    line-height: 1.4;
    font-weight: normal;
}
.footer{
        background-color: #3C3C3C;
}
.footer_container a{
    font-size: 26px;
    color: white;
    text-transform: inherit;
    line-height: 1.4;
    font-weight: normal;
    text-decoration: none;
}
.footer_container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.my{
    display: flex;
    justify-content: end;
    padding: 20px;
    font-size: 26px;
    text-transform: inherit;
    line-height: 1.4;
    font-weight: normal;
}
.kont{
    margin-right: 20px;
}
.my a{
    color: white;
    text-decoration: none;
}

@media (max-width: 500px){
    .header_h2{
        /* font-family: 'Montserrat Regular'; */
        font-size: 14px;
        color: white;
        text-transform: initial;
        line-height: 1.4;
        font-weight: normal;
        max-width: 176px;
        margin-top: 0px;
    }
    .header_p{
        font-size: 10px;
        color: white;
        text-transform: initial;
        line-height: 1.4;
        font-weight: normal;
        max-width: 207px;
        margin-top: 0;
    }
    .link_header{
        display: inline-block;
        font-size: 11px;
        color: white;
        text-transform: initial;
        line-height: 1.4;
        font-weight: normal;
        max-width: 107px;
        padding: 5px 11px ;
        text-decoration: none;
        background-color: #EE3344;
        border-radius: 10px;
        margin-top: 0;
    }
    .right,
    .left{
        height: auto;
    }
    .header_container{
        height: auto;
        /* padding: 0; */
        margin: 0 auto;
        /* display: inline-block; */
        width: 100%;
        justify-content: center;
    }
    .right img{
        width: 154px;
        height: 122px;
    }
    .cols{
        display: none;
    }
    .ul_nav{
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 0;
        margin-top: 30px;
    }
    .cols2{
        display: block;
        margin: 0 auto;
    }
    .cols2 img{
        width: 272px;
        display: block;
        margin: 0 auto;
        margin-bottom: 21px;
    }
    .header_container{
        margin-bottom: 0;
    }
    .kursone{
        display: none;
    }
    .kurstwo{
        display: block;
        height: 100%;
    }
    .kurstwo img{
        width: 100%;
    }
    .img_sponsor img{
        width: 154px;
        height: 124.5px;
        align-items: center;
    }
    .img_sponsor{
        margin: 0;
        padding: 0;
        align-items: center;
        width: 154px;
        height: 124.5px;
        margin-right: 16px;
        margin-top: 20px;

    }
    .h3_sponsor{
        font-size: 14px;
    color: white;
    text-transform: initial;
    line-height: 1.4;
    font-weight: bold;
    margin-top: 0px;
    width: 133px;
    margin: 0;
    margin-top: 10px;
    }
    .p_sponsor{
        font-size: 10px;
    color: white;
    text-transform: initial;
    line-height: 1.4;
    font-weight: normal;
    width: 160px;
    margin: 0;
    margin-top: 10px;
    }
    .sponsor_container,
    .sponsor{
        height: auto;
        justify-content: center;
        
    }
    .sponsor_container{
        padding: 20px 0;
    }
    .link_sponsor{
        font-size: 11px;
        color: white;
        text-transform: initial;
        line-height: 1.4;
        font-weight: normal;
        width: 107px;
        padding: 5px 11px;
        background-color: #EE3344;
        text-decoration: none;
        border-radius: 10px;
        display: inline-block;
        margin-top: 10px;
        text-align: center;
        margin: 0;
        margin-top: 10px;
    }
    .otzivi h2{
        font-size: 18px;
        color: white;
        text-transform: uppercase;
        line-height: 1.4;
        font-weight: normal;
        text-align: center;
        padding-top: 15px;
    }
    .otzivi p{
        font-size: 14px;
        color: white;
        text-transform: inherit;
        line-height: 1.4;
        font-weight: normal;
        /* text-align: center; */
        padding-top: 15px;
        width: 233px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 15px;
    }
    .video{
        text-align: center;
        width: 100%;
        margin-bottom: 22px;
        width: 330px;
        height: 183px;
        margin: 0 auto;
    }
    iframe{
        width: 330px;
        height: 183px;
    }
    .otzivi{
        padding-bottom: 22px;
    }
    .komol{
        height: 210px;
        /* background-color: #3C3C3C; */
        padding: 22px 0 ;
        background-color: #555555;
    }
    .h3_komol{
        font-size: 14px;
        color: white;
        text-transform: inherit;
        line-height: 1.4;
        font-weight: normal;
        margin-top: 0px;
        width: 176px;
        margin-top: 15px;
    }
    .p_komol{
        font-size: 9px;
        color: white;
        text-transform: inherit;
        line-height: 1.4;
        font-weight: normal;
        margin-top: 0px;
        width: 144px;
        margin-top: 15px;
    }
    .a_komol{
        font-size: 11px;
        color: white;
        text-transform: initial;
        line-height: 1.4;
        font-weight: normal;
        width: 107px;
        padding: 5px 11px;
        background-color: #EE3344;
        text-decoration: none;
        border-radius: 10px;
        display: inline-block;
        margin-top: 0px;
        text-align: center;
        margin-top: 15px;
    }
    .container_p p{
        font-size: 9px;
        color: white;
        text-transform: inherit;
        line-height: 1.4;
        font-weight: normal;
        
        text-align: right; 
        width: 153px;
        margin: 0;
        margin-left: 200px;
        display: block;
        margin-top: 10px;
        /* width: 503px;
        display: flex;
        justify-content: right; */
    }
    .komol_right img{
        max-width: 155px;
        height: auto;
    }
    .komol_container{
        background-color: none;
        justify-content: center;
    }
    .hero_h3{
        font-size: 18px;
        color: white;
        text-transform: inherit;
        line-height: 1.4;
        font-weight: normal;
        margin-bottom: 20px;
        text-align: center;
    }
    /* .map{
        width: 272px;
        height: 178px;
    } */
    .footer_container p{
        font-size: 24px;
        color: white;
        text-transform: inherit;
        line-height: 1.4;
        font-weight: normal;
    }
    .footer_container a{
        font-size: 14px;
        color: white;
        text-transform: inherit;
        line-height: 1.4;
        font-weight: normal;
        text-decoration: none;
    }
    .my{
        display: flex;
        justify-content: end;
        padding: 15px;
        font-size: 9px;
        text-transform: inherit;
        line-height: 1.4;
        font-weight: normal;
    }
    .kont{
        margin-right: 20px;
    }
    .footer{
        padding-top: 10px;
    }
}